.list-container{
    text-align: center;
    margin-top:100px;
}

.input{
    /* position: absolute; */
    height: 30px;
    border: 1px solid grey;
    border-radius: 30px;
    margin: 10px;
    padding-left: 20px
}

.input:valid{
    background-color: aquamarine;
}

/* .input:invalid{
    background-color: rgb(255, 55, 55);
} */

.btn{
    margin:5px;
    /* height: 35px; */
    padding: 5px 25px;
    background-color: rgb(4, 212, 91);
    color: white;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;

}
.danger{
    margin:5px;
    /* height: 35px; */
    padding: 5px 25px;
    background-color: rgb(250, 46, 46);
    color: white;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}

.align-center{
    width: 100%;
    text-emphasis: center;
}

.table{
    border: 1px solid grey ;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    text-align: left;
}

.row{
    display:flex;
    align-items: space;
    justify-content: space-between;
}

.col-3{
    width: 25%;
}
.col-6{
    width: 50%
}


.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    overflow: hidden;
}

.card{
    background-color: rgb(27, 109, 231);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}